h1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

ul {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
    
    font-size: 25px;
}

label{
    color:grey
    
}

body{
    background-color: white;
    
}

header{
    background-color:white;
    text-align: center;
}

footer{
    text-align: center;
}

button {
    color: blue;
    
}

a{
    text-decoration: none;
    color: black;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.flex-container > div {
    background-color: lightgrey;
    width: 455px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

h3{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    
}